@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

$domine-font: 'Domine', serif;
$playfair-font: 'Playfair Display', serif;
$caveat-font: 'Caveat', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  background-color: black;
}

.App {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

#root {
  margin: auto;
  background-color: black;
  min-height: 100vh;
}

main {
  flex-direction: column;
}

.main-height {
  height: 100vh;
}

.img-banner-cont {
  margin-bottom: 1.5rem;
}

.img-banner {
  width: 87%;
  padding: 0.7rem 0.4rem;
  margin: auto;
  margin-top: -2rem;
  background-color: white;
  opacity: 0.85;
  text-align: center;
  font-family: $domine-font;

  p {
    line-height: 1.3rem;
  }

  p:first-child {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p:nth-child(2) {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

.artwork-description {
  flex-direction: column;
  color: white;
  font-size: 1.2rem;

  p:not(:last-child) {
    font-family: $playfair-font;
    font-style: italic;
  }

  p:first-child {
    margin-top: 1rem;
  }

  span {
    color: #d37245;
  }
}

.artwork-details {
  padding: 1rem;
  background-color: #393012;
}

.artwork-det-img {
  flex-direction: column;

  img {
    width: 100%;
    border: 5px solid white;
  }
}

.img-info {
  width: 100%;
  background-color: white;
  font-family: $domine-font;
  text-align: center;

  p:first-child {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.artwork-description-txt {
  font-style: normal;
}

header {
  height: 6rem;
  background-color: #b78a21;
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .artwork-details {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .artwork-details {
    width: 70%;
  }
}

@media screen and (min-width: 1240px) {
  #root {
    width: 75%;
  }

  .artwork-details {
    padding: 2rem;
    width: 100%;
  }
}
